{{#each publications}}
  <a href="/meow/{{_id}}" class="publication-item">
    {{#if picture}}
      <img src="{{picture}}" alt="Picture" />
    {{/if}}
    <div>
      <p>{{message}}</p>
      <small>{{createdAt}}</small>
      |
      <small>{{creator.name}}</small>
    </div>
  </a>
{{/each}}